html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*.table-cell-form{
    display:flex;
    justify-content:center;
}

.table-cell-form-button{
    width:auto;

}*/

.table-buttons {
    display: flex;
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0 2px 0px 2px;
}

.table-buttons li{
    padding:0 2px 0px 2px;
}

td.shrink {
    white-space: nowrap;
    width:1px;
}

td{
    vertical-align:middle;
}