<div class="successfull-container">
    <h4>Förfrågan är skickad!</h4>
    <p>Du kommer bli kontaktad.</p>
    <a asp-action="" asp-controller="Market" class="btn btn-dark" role="button"><i class="fas fa-arrow-left"></i> Tillbaka till alla föremål</a>
</div>
