@using Microsoft.AspNetCore.Identity
@model UserRolesViewModel

@if(Model.Selected == null)
{
    <option selected value="">No role set</option>
}
else
{
    <option value="">No role set</option>
}

@foreach (var role in Model.Roles)
{
    if (role.Name == Model.Selected)
    {
        <option selected value="@role.Name">@role.Name</option>
    }
    else
    {
        <option value="@role.Name">@role.Name</option>
    }
}
