@model ItemViewModel

<a asp-action="MarketItems" asp-controller="Admin"><i class="fas fa-arrow-left"></i> Go Back</a>

<div class="row mt-3">
    @if(Model.Id == null)
    {
        <h3>Add an item</h3>
    }
    else
    {
        <h3>Edit item</h3>
    }
    <div class="col">
        <form class="row g-3" asp-controller="Admin" asp-action="AddOrEditItem">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3 col-md-9">
                <label asp-for="Title" class="form-label">Title</label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="Price" class="form-label">Price(optional)</label>
                <div class="input-group">
                    <input class="form-control" asp-for="Price">
                    <span class="input-group-text">kr</span>
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>

            </div>
            <div class="mb-3 col-12">
                <label asp-for="Description" class="form-label"></label>
                <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="Status" class="form-label"></label>
                <select class="form-select" asp-for="Status" asp-items="Html.GetEnumSelectList<ItemStatus>()">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="Categories" class="form-label"></label>
                <select id="selectCategories" asp-for="Categories">
                </select>
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <div class="mb-3 input-group">
                <div class="col-12">
                    <h5>Images</h5>
                </div>
                <div class="col-3-md mb-3">
                    <label class="form-label" for="imageInput"> Upload Images</label>
                    <input id="imageInput" type="file" class="form-control" />
                </div>
                <div id="imageGallery" class="col-12 image-gallery">
                    @for(int i = 0; i < Model.Images.Count; i++)
                    {
                        <div id='image-gallery-container-@Model.Images[i].Id}' class='image-gallery-container'>
                            <span onclick='deleteImage(@Model.Images[i].Id)' class="close"><i class="far fa-times-circle"></i></span>
                            <input type="hidden" name="Images[@i].Url" value=@Model.Images[i].Url />
                            <input type="hidden" name="Images[@i].Id" value=@Model.Images[i].Id />
                            <img src='@Model.Images[i].Url'>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                @if (Model.Id != null)
                {
                    <button type="submit" class="btn btn-success">Update item <i class="fas fa-save"></i></button>
                }
                else
                {
                    <button type="submit" class="btn btn-success">Add item <i class="fas fa-plus"></i></button>
                }
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            var list = @Json.Serialize(Model.CategoriesToChoose);

            var multipleSelectDropdown = new Choices('#selectCategories', {
                removeItemButton: true,
                choices: list
            });
            var imagesCount = @Model.Images.Count;

            $('#imageInput').change(function(e){
                var image = $('#imageInput')[0].files[0];

                console.log(image);


                var file = new FormData();
                file.append('image', image)

                $.ajax({
                    method:"post",
                    url: "/Admin/AddImage",
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: file,
                    success: function (data) {
                        console.log(data);

                        if(data.success == true){
                            $('#imageGallery').append(`<div id='image-gallery-container-${data.id}' class='image-gallery-container'>
                                                  <span onclick='deleteImage(${data.id})' class="close" ><i class="far fa-times-circle"></i></span>
                                                  <input type="hidden" name="Images[${imagesCount}].Url" value=${data.url} />
                                                  <input type="hidden" name="Images[${imagesCount}].Id" value=${data.id} />
                                <img src='${data.url}'>
                             </div>`)
                             imagesCount++;
                        }
                    },
                    error: function(data){
                        insertErrorMessage("Error when uploading image.");
                    }
                });
            })
        });

        function deleteImage(id){
            $("#image-gallery-container-"+id).remove();
            updateImagesIndex();

           

            $.ajax({
                method: "post",
                url: "/Admin/DeleteImage/" + id,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    console.log(error);
                }
            });
        }

        function updateImagesIndex(){
            $("#imageGallery").children().each((index, element) => {
                var elements = $(element).children('input');

                elements.each(function(){
                    var prop = $(this).attr('name').substring($(this).attr('name').indexOf('.') + 1);

                    var newName = `Images[${index}].` + prop;
                    $(this).attr('name', newName);

                    imagesCount = index + 1;
                })

            });
        }
    </script>
}