@model InspirationItemViewModel

<a asp-action="InspirationItems" asp-controller="Admin"><i class="fas fa-arrow-left"></i> Go Back</a>
<div class="row mt-3">
    @if (Model.Id == null)
    {
        <h3>Add an inspiration item</h3>
    }
    else
    {
        <h3>Edit inspiration item</h3>
    }
    <div class="col">
        <form class="row g-3" asp-controller="admin" asp-action="AddOrEditInspirationItem">
            <input type="hidden" asp-for="Id"/>
            <div class="mb-3 input-group">
                <div class="col-12">
                    <h5>Image</h5>
                </div>
                <div class="inspiration-image-preview col-12" id="inspiration-image-preview">
                    @if(Model.Id != null)
                    {
                        <div id='inspiration-image-container-@Model.Image.Id' class='inspiration-image-container'>
                            <span onclick='deleteInspirationImage(@Model.Image.Id)' class="close"><i class="far fa-times-circle"></i></span>
                            <input type="hidden" name="Image.Url" value=@Model.Image.Url />
                            <input type="hidden" name="Image.Id" value=@Model.Image.Id />
                            <img src='@Model.Image.Url'>
                        </div>
                    }
                </div>
                <div class="col-3-md mb-3">
                    <label class="form-label" for="inspirationImageInput"> Upload Image</label>
                    <input id="inspirationImageInput" type="file" class="form-control" />
                </div>
            </div>
            <div class="mb-3 col-md-9">
                <label asp-for="Title" class="form-label">Title(optional)</label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3 col-12">
                <label asp-for="Description" class="form-label">Description(optional)</label>
                <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                @if (Model.Id != null)
                {
                    <button type="submit" class="btn btn-success">Update item <i class="fas fa-save"></i></button>
                }
                else
                {
                    <button type="submit" class="btn btn-success">Add item <i class="fas fa-plus"></i></button>
                }
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
        $('#inspirationImageInput').change(function (e) {
                var currentImageId = $("#inspiration-image-preview  > div > [name='Image.Id']").val();

                if(currentImageId != undefined){
                    deleteInspirationImage(currentImageId);
                }

            var image = $('#inspirationImageInput')[0].files[0];

            var file = new FormData();
            file.append('image', image)

            $.ajax({
                method: "post",
                url: "/Admin/AddImage",
                processData: false,
                contentType: false,
                cache: false,
                data: file,
                success: function (data) {
                    if (data.success == true) {
                        $('#inspiration-image-preview').html(` <div id='inspiration-image-container-${data.id}' class='inspiration-image-container'>
                                                          <span onclick='deleteInspirationImage(${data.id})' class="close" ><i class="far fa-times-circle"></i></span>
                                                          <input type="hidden" name="Image.Url" value=${data.url} />
                                                          <input type="hidden" name="Image.Id" value=${data.id} />
                                                          <img src='${data.url}'>
                                                          </div>
                        `);
                    }
                },
                error: function (data) {
                    insertErrorMessage("Error when uploading image.");
                }
            });
        });
        });

        function deleteInspirationImage(id) {
            $('#inspiration-image-preview').html('');
        }

    </script>

}