@model IEnumerable<ItemCategory>
@{
    var validationError = TempData["ValidationError"];
}

<div class="row">
    <div class="col-md-6">
        <h3>Kategorier</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Kategori
                    </th>
                    <th scope="col">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="cat-@item.Id">
                        <td contenteditable="true" oninput="onCategoryChange('@item.Id')">
                            @item.Name
                        </td>
                        <td class="shrink">
                            <ul class="table-buttons">
                                <li>
                                    <button type="button" disabled id="save-category-edit-@item.Id" class="btn btn-outline-primary" onclick="onCategorySave('@item.Id')"><i class="fas fa-save"></i></button>
                                </li>
                                <li>
                                    <form asp-controller="Admin" asp-action="DeleteCategory" class="table-cell-form">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" onclick="return confirm('Confirm deleting of category')" class="btn btn-outline-danger table-cell-form-button">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </li>
                            </ul>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Lägg till en ny kategori</h3>
            <form asp-controller="Admin" asp-action="AddCategory" method="post">
                <label for="nameInput" class="form-label">Kategori</label>
                @if (validationError != null)
                {
                    <input type="text" name="Name" id="nameInput" class="form-control is-invalid" />
                    <div class="invalid-feedback">
                        @validationError
                    </div>
                }
                else
                {
                    <input type="text" name="Name" id="nameInput" class="form-control" />
                }
                <button type="submit" class="btn btn-primary mt-3">Lägg till kategori</button>
            </form>
        </div>
</div>

@section scripts{
    <script>
        function onCategoryChange(id) {
            $('#save-category-edit-' + id).prop("disabled", false);
        }

        function onCategorySave(id){
            var name = $("#cat-" + id).children().first().text().trim();

            var category = new FormData();
            category.append('Name', name)
            category.append('Id', id)

            $.ajax({
                method: "post",
                url: "/Admin/EditCategory/" + id,
                processData: false,
                contentType: false,
                cache: false,
                data: category,
                success: function (data) {
                    $('#save-category-edit-' + id).prop("disabled", true);
                    insertSuccessMessage(data.message);
                },
                error: function (data) {
                    insertErrorMessage(data.message);
                }
            });
        }
    </script>

}
