@model IEnumerable<InspirationItem>

    <div class="grid">
    <div class="grid-sizer"></div>
    @foreach (var item in Model)
    {
        <div class="grid-item">
            <a asp-controller="Inspiration" asp-action="Item" asp-route-id="@item.Id">
                <img src="@item.Image.Url">
            </a>
        </div>
    }
    </div>








    @section scripts{
        <script>
        $(document).ready(function () 
        {
            $('.grid').masonry({
                // options
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                percentPosition: true,
                gutter: 2
            });
        })

        </script>
    }