@model InspirationItem

<div class="row">
    <div class="inspiration-view-image">
        <img src="@Model.Image.Url" />
    </div>
    <div class="inspiration-view-info">
        <div class="inspiration-view-title">
            @Model.Title
        </div>
        <div class="inspiration-view-text">
            @Model.Description
        </div>
    </div>
</div>
