<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item text-dark" asp-controller="Admin" asp-action="Index" asp-all-route-data-status="0">Dashboard</a></li>
    <li><a class="dropdown-item" asp-controller="Admin" asp-action="marketitems">Föremål</a></li>
    <li><a class="dropdown-item" asp-controller="Admin" asp-action="InspirationItems">Inspirations-bilder</a></li>
    <li><a class="dropdown-item" asp-controller="Admin" asp-action="Categories">Kategorier</a></li>
    @if (User.IsInRole("SuperAdmin"))
    {
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-controller="Admin" asp-action="Users" >Användare</a></li>
    }
</ul>
